.main{
    width: 100vh;
    flex: 1;
}
.main .nav{
    display: flex;
    justify-content: space-between;
    color:#585858 ;
    align-items: center;
    padding: 20px;
    font-size: 24px;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main-container{
    width: 900px; 
    margin: auto;
    width: 100%;
}

.main .greet{
    font-size: 56px;
    font-weight: 500;
    padding: 20px;
    color: #c4c7c5;
    margin: 50px 0px;
   

}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    

}
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: -15px;
    padding: 20px;
   
    justify-content: center;
    
}
.main .card{
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    background-color: #f0f4f9;
    position: relative;
    cursor: pointer;
    margin: 10px;
    color: #585858;
    width: auto;
}
.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 20px;
    background-color: white;
}
.main .card p{
    font-size: 17px;
    
}

.main-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .cards :hover{
    background-color: #dfe4ea;
}
.main-bottom{

    position: absolute;
    bottom: 0;
    padding: 0px 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    
}
 .search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #f0f4f9;
    gap: 20px;
    padding: 10px 20px;

    
}

.search-box img{
    width:24px;
    cursor: pointer;
    
}
.search-box input{
    background: transparent;
    border: none;
    font-size: 17px;
    padding: 8px;
    outline: none;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main-bottom .bottom-info{
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    margin: 5px auto;
    width: 100%;

}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-title img{
    width: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 40px;
}

.result-data img{
    width: 50px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background : linear-gradient(to right,#6ab1e3,#ffffff,#6ab1e3);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;

}
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
    
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}


/* For screens smaller than 600px (typical mobile screens) */
@media (max-width: 600px) {
    .main .nav {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .main .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .main .card {
        width: 300px;
    }

    .main-bottom {
        position: static; /* Change position to static to make it part of the normal document flow */
        width: 100%; /* Occupy the full width of the viewport */
        max-width: none; /* Remove the maximum width constraint */
        margin-top: 20px; /* Adjust margin as needed */
    }

    .main .greet {
        text-align: center;
    }

    .main .greet{
        font-size: 40px;
        font-weight: 500;
        padding: 20px;
        color: #c4c7c5;
        margin: 50px 0px;
       
    
    }
    
}


    

